.payload_canvas {
    position:absolute;
    bottom:10px;
    right:25%;
    left:50%;
    margin-left:-350px;
}

@font-face {
    font-family: bf3-font;
    src: url(PuristaSemiBold.ttf);
}

.bf3font {
    font-family: bf3-font;
}

img {
    visibility: hidden;
}

body {
    overflow:hidden;
}

#time_left_box {
    text-align: center;
    padding: 0px;
    margin-top: 60px;
}

.inline{
    display: inline;
}

#payload_esp {
    position:absolute;
    /* transition: left 0.2s, top 0.2s; */
}

.glow{
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 2px #49a1ff;
}

.dynamic_glow {
    font-size: 20px;
    color: #fff;
    -webkit-animation: animation_glow 1s ease-in-out infinite alternate;
    -moz-animation: animation_glow 1s ease-in-out infinite alternate;
    animation: animation_glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes animation_glow {
    from {
        text-shadow: 0 0 3px #fff, 0 0 1px #fff, 0 0 2px #49a1ff, 0 0 3px #49a1ff, 0 0 4px #49a1ff, 0 0 5px #49a1ff, 0 0 6px #49a1ff;
    }
    to {
        text-shadow: 0 0 4px #fff, 0 0 5px #73b7ff, 0 0 6px #73b7ff, 0 0 7px #73b7ff, 0 0 8px #73b7ff, 0 0 9px #73b7ff, 0 0 10px #73b7ff;
    }
}